{% include "_js/vue/components/glossary.js" %}
{% include "_blocks/feedbackResidencePermit/filters.html"%}{% raw %}

<div class="loading" v-if="isLoading">Loading feedback...</div>
<ul class="feedback-list" v-show="!isLoading">
	<li v-cloak v-for="result in resultsPage" v-if="!isLoading" :key="result.modification_date.toISOString()">
		<button class="button" v-if="result.modification_key" @click="deleteResult(result.modification_key)">Delete</button>
		<h3>
			{{ residencePermitTypes[result.residence_permit_type].capitalized }}
			<template v-if="result.pick_up_date">in {{ formatTimeDelta(result.application_date, result.pick_up_date) }}</template>
			<span class="department">Department {{ (departments[result.department] || '').split(' — ')[0] }}</span>
			<span class="validity" v-if="result.validity_in_months">
				Valid for
				<template v-if="result.validity_in_months % 12">{{ result.validity_in_months }} month{{ result.validity_in_months === 1 ? '' : 's'}}</template>
				<template v-if="!(result.validity_in_months % 12)">{{ result.validity_in_months/12 }} year{{ result.validity_in_months/12 === 1 ? '' : 's'}}</template>
			</span>
		</h3>
		<p v-if="result.notes.length" class="notes">“{{ result.notes.trim() }}”</p>
		<div class="steps">
			<div class="step completed">
				<input type="checkbox" checked disabled>
				<span class="description">
					Applied <span class="no-mobile">on {{ formatLongDate(result.application_date) }}</span>
					<small class="extra" v-if="healthInsuranceTypes[result.health_insurance_type]">
						Using
						<glossary v-if="healthInsuranceTypes[result.health_insurance_type][1]" :term="healthInsuranceTypes[result.health_insurance_type][1]" v-text="healthInsuranceTypes[result.health_insurance_type][0]"></glossary>
						<template v-if="!healthInsuranceTypes[result.health_insurance_type][1]">{{ healthInsuranceTypes[result.health_insurance_type][0] }}</template>
						<template v-if="result.health_insurance_name">(“{{ result.health_insurance_name }}”)</template>
					</small>
				</span>
				<time v-text="formatLongDate(result.application_date)"></time>
			</div>

			<div class="step" :class="{completed: !!result.first_response_date}">
				<input type="checkbox" :checked="result.first_response_date" disabled>
				<span class="description">
					<template v-if="result.first_response_date">
						Got a response {{ formatTimeDelta(result.application_date, result.first_response_date) }} later
					</template>
					<template v-else>
						No response as of {{ formatLongDate(result.modification_date) }}
					</template>
				</span>
				<time v-if="result.first_response_date" v-text="formatLongDate(result.first_response_date)"></time>
			</div>

			<div class="step" v-if="!!result.first_response_date" :class="{completed: !!result.appointment_date}">
				<input type="checkbox" :checked="result.appointment_date" disabled>
				<span class="description">
					<template v-if="result.appointment_date">
						Went to appointment {{ formatTimeDelta(result.first_response_date, result.appointment_date) }} later
					</template>
					<template v-else>
						No appointment as of {{ formatLongDate(result.modification_date) }}
					</template>
				</span>
				<time v-if="result.appointment_date" v-text="formatLongDate(result.appointment_date)"></time>
			</div>

			<div v-if="!!result.appointment_date" class="step" :class="{completed: !!result.pick_up_date}">
				<input type="checkbox" :checked="result.pick_up_date" disabled>
				<span class="description">
					<template v-if="result.pick_up_date && isInTheFuture(result.pick_up_date)">
						Will pick up residence card after {{ formatTimeDelta(result.appointment_date, result.pick_up_date) }}
					</template>
					<template v-if="result.pick_up_date && !isInTheFuture(result.pick_up_date)">
						Picked up residence card {{ formatTimeDelta(result.appointment_date, result.pick_up_date) }} later
					</template>
					<template v-else>
						No pick-up date as of {{ formatLongDate(result.modification_date) }}
					</template>
				</span>
				<time v-if="result.pick_up_date" v-text="formatLongDate(result.pick_up_date)"></time>
			</div>
		</div>
	</li>
</ul>
<pagination :value="page" @input="loadPage($event, true)" :page-count="pageCount"></pagination>
{% endraw %}