<div class="download-buttons">
	<a target="_blank" class="download-button german" title="Download the original document in German" href="{{ site_url }}/{{ entry.german_document }}">
		<h3>In German</h3>
		<span lang="de">{{ entry.german_term }}</span>
		{% image entry.german_document, alt="German document preview", sizes="300px" %}
	</a>
	<a target="_blank" class="download-button english" title="Download the English-translated document" href="{{ site_url }}/{{ entry.english_document }}">
		<h3>In English</h3>
		<span>{{ entry.english_term }}</span>
		{% image entry.english_document, alt="English document preview", sizes="300px" %}
	</a>
</div>