<aside id="places">
	<div id="places-map" class="no-print not-loaded">
		<button class="load-map-button button primary">Show map</button>
		<noscript>This map needs JavaScript to work.</noscript>
	</div>
	<ol>
		{% for place in entry.related_places %}
		<li id="place-{{ loop.index }}">
			<h4>
				{% if place.website %}
					<a title="Website of {{ place.name }}" target="_blank" href="{{ place.website }}" target="_blank" position="{{ loop.index }}">{{ place.name }}</a>
				{% else %}
					{{ place.name }}
				{% endif %}
			</h4>
			<address>
				{% if place.google_place_id|default %}
					<a href="https://www.google.com/maps/search/?api=1&query={{ place.name|urlencode }}%2C%20{{ place.address|urlencode }}&query_place_id={{ place.google_place_id }}" target="_blank" title="Open in Google Maps">
						{{ place.address }}
					</a>
				{% else %}
					<a href="https://www.google.com/maps/search/?api=1&query={{ place.name|urlencode }}%2C%20{{ place.address|urlencode }}" target="_blank" title="Open in Google Maps">
						{{ place.address }}
					</a>
				{% endif %}
			</address>
			{%- if place.recommended|default == 'Yes' -%}
				{{ RECOMMENDED }}
			{%- endif -%}
			{%- if place.description|default -%}
				<p>{{ place.description }}</p>
			{%- endif -%}
			{%- if place.accepts_public_insurance|default == 'Yes' -%}
				<p>Accepts public health insurance.</p>
			{%- endif -%}
		</li>
		{% endfor %}
	</ol>
</aside>
{% include "_js/libs/googleMapsMarkerClusterer.js" %}
<script>
const placesMap = document.getElementById('places-map');

function initMap() {
	const googleMap = new google.maps.Map(placesMap, {
		disableDefaultUI: true,
		zoomControl: true,
		mapTypeControl: false,
		scaleControl: true,
		streetViewControl: false,
		rotateControl: false,
		fullscreenControl: false
	});
	const markers = [];
	{% for place in entry.related_places %}
		markers.push(new google.maps.Marker({
			position: {lat: {{ place.latitude }}, lng: {{ place.longitude }} },
			title: "{{ place.name }}",
			label: "{{ loop.index }}"
		}));
	{% endfor %}
	const bounds = new google.maps.LatLngBounds();
	markers.forEach((marker) => {
		bounds.extend(marker.position)
		marker.addListener('click', function() {
			const placeLi = document.getElementById(`place-${marker.label}`);
			placeLi.scrollIntoView({ block: 'nearest', behavior: 'auto' });
			placeLi.classList.add('highlighted');
			setTimeout(() => placeLi.classList.remove('highlighted'), 2000);
		});
	});
	new MarkerClusterer(googleMap, markers);

	document.querySelectorAll('#places address a').forEach((a, index) => {
		a.addEventListener('click', (e) => {
			e.preventDefault();
			googleMap.setZoom(14);
			googleMap.panTo(markers[index].position);
			placesMap.scrollIntoView({ block: 'nearest', behavior: 'auto' });
		});
	})
	googleMap.fitBounds(bounds);
}

function loadGoogleMaps(){
	const script = document.createElement('script');
	script.type = 'text/javascript';
	script.src = 'https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_JAVASCRIPT_API_KEY }}&callback=initMap';
	script.async = true;
	script.onload = script.onreadystatechange = function() {
		if (this.readyState == 'complete') {
			placesMap.classList.remove('not-loaded');
		}
	};
	const t = document.getElementsByTagName('script')[0];
	t.parentElement.insertBefore(script, t);
	placesMap.querySelector('.load-map-button').disabled = true;
	placesMap.querySelector('.load-map-button').innerHTML = "Loading…";

	plausible('Map loaded');
}

window.addEventListener("DOMContentLoaded", function() {
	placesMap.querySelector('.load-map-button').addEventListener('click', loadGoogleMaps);
});

</script>