{% extends "guides/entry.html.jinja" %}

{% block postHead %}
	{{ super() }}
	<link rel="preload" as="fetch" href="/api/forms/citizenship-feedback.json?page=1" crossorigin>
{% endblock %}

{% include "_js/vue.js" %}
{% include "_js/utils/date.js" %}
{% include "_js/vue/components/pagination.js" %}
{% js %}
	document.querySelectorAll('main .article-body').forEach(
		el => new Vue({
			el: el,
			data() {
				return {
					department: null,
					isLoading: true,
					resultPages: [], // An array of arrays. First a list of pages, then items on that page
					page: null,
					resultCount: 0,
					itemsPerPage: 10,
					stats: {},
					departments: {
						S1: 'S1 — Iran, Syria (last names from A to E)',
						S2: 'S2 — Irak, Syria (last names from F to Z)',
						S3: 'S3 — Asia',
						S4: 'S4 — Africa, America, Australia, Oceania',
						S5: 'S5 — Poland, Turkey, Ukraine',
						S6: 'S6 — Europe',
					},
				};
			},
			async mounted(){
				this.loadPage(1, false);
			},
			computed: {
				apiEndpoint(){
					const querystring = new URLSearchParams({ page: this.page });
					if(this.department){
						querystring.append('department', this.department);
					}
					return '/api/forms/citizenship-feedback.json?' + querystring.toString();
				},
				pageCount(){
					return Math.ceil(this.resultCount / this.itemsPerPage);
				},
				resultsPage(){
					return this.isLoading ? [] : this.resultPages[this.page];
				},
				feedbackCount(){
					return this.stats?.first_response_date?.count || 0;
				},
				totalWaitAverage(){
					return this.stats?.total?.readable_average ?? 'unknown';
				},
				totalWaitRange(){
					return this.stats?.total?.readable_range ?? 'a few months';
				},
			},
			methods: {
				formatLongDate,
				async loadPage(page, scrollToTop=true){
					this.page = page;
					if(scrollToTop){
						Vue.nextTick(() => {
							this.$el.querySelector('#feedback-from-other-people').scrollIntoView(true);
						});
					}

					if(!this.resultPages[page]){
						this.isLoading = true;
						response = await (await fetch(this.apiEndpoint)).json();
						this.resultCount = response.count;
						this.resultPages[page] = response.results.map(r => {
							r.modification_date = new Date(r.modification_date);
							r.application_date = new Date(r.application_date);
							r.first_response_date = r.first_response_date ? new Date(r.first_response_date) : null;
							r.appointment_date = r.appointment_date ? new Date(r.appointment_date) : null;
							return r;
						});
						this.stats = response.stats;
						this.isLoading = false;
					}
				},
				async deleteResult(modificationKey){
					if(confirm('Delete this item?')){
						await fetch(
							`/api/forms/citizenship-feedback/${modificationKey}`, {
								method: 'DELETE',
								keepalive: true,
								headers: {'Content-Type': 'application/json; charset=utf-8'}
							}
						);
						this.resultPages.splice(0, this.resultPages.length);
						this.loadPage(this.page);
					}
				},
				formatTimeDelta(date1, date2){
					const millisecondsPerDay = 1000 * 60 * 60 * 24;
					const days = Math.ceil((date2.getTime() - date1.getTime()) / millisecondsPerDay);
					let qty, unit = null;
					if(days <= 7 * 2){
						qty = days
						unit = (qty === 1 ? 'day' : 'days');
					}
					else if(days <= 7 * 8){
						qty = Math.round(days / 7);
						unit = (qty === 1 ? 'week' : 'weeks');
					}
					else{
						qty = Math.round(days / 30)
						unit = (qty === 1 ? 'month' : 'months');
					}

					return `${qty} ${unit}`;
				},
				stepWaitRange(stepKey){
					if(this.isLoading){
						return 'Loading…';
					}
					range = this.stats[stepKey]?.readable_range;
					average = this.stats[stepKey]?.readable_average;
					return range && average ?
						`Wait ${range} — ${average} on average`
						: 'Wait for an unknown duration';
				},
				waitTime(date1, date2, stillWaiting=false) {
					if(stillWaiting){
						const timeDelta = this.formatTimeDelta(date1, date2);
						return timeDelta.startsWith('1 ') ? `${timeDelta} has passed` : `${timeDelta} have passed`;
					}
					else if(date2 >= date1 && !this.isInTheFuture(date2)){
						return `Waited ${this.formatTimeDelta(date1, date2)}`
					}
					return `Waiting ${this.formatTimeDelta(date1, date2)}`;
				},
				isInTheFuture(date){
					return date > (new Date());
				}
			},
			watch: {
				department(){
					this.resultPages = [];
					this.loadPage(1, false);
				},
			},
		})
	);
{% endjs %}