{% extends "tools/_map.html" %}
{% set mapName = "Map of Berlin rents" %}
{% set mapDescribedBy = "map-description" %}

{% block postHead %}
	{{ super() }}
	{% include "_js/utils/currency.js" %}
	{% js %}
		function highlightPlz(map, feature){
			map.fitBounds(getFeatureBounds(feature), {
				padding: 20,
				maxZoom: 12,
			});
			map.setFilter('plz-highlight', ['==', ['get', 'id'], feature.properties.id]);
		}
		function clearHighlightedPlz(map){
			map.setFilter('plz-highlight', ['==', ['get', 'id'], '']);
		}

		document.getElementById('warmmieteLink').addEventListener('click', (event) => {
			event.preventDefault();
			event.stopPropagation();
			showTooltip(event);
		});

		// Add interactive GeoJSON layer
		map.on('load', () => {
			let hoveredFeature = undefined;

			fetch('/tools/rent-map/data.json?v={{ commit_id[0:10] }}')
				.then(r => r.json())
				.then(mapData => {
					// Color calculation
					const rents = mapData.features.map(d => d.properties['median']);
					const minRent = Math.min(...rents);
					const maxRent = Math.max(...rents);

					mapData.features.forEach(f => {
						f.properties.id = f.id;

						const rent = f.properties['median'];
						const colors = ["#ffffff", "#ffe0d8", "#ffc0b0", "#ff9e89", "#f97c64", "#ea5d45", "#d63d29", "#bd1d12", "#9d0000"];
						const rank = (rent - minRent) / (maxRent - minRent);
						const index = Math.min(Math.ceil(rank * colors.length), colors.length - 1);
						f.properties.medianText = `€${rent}/m²`;
						f.properties.color = colors[index];
					});

					// Add shapes
					const mapDataSource = map.addSource('plz-data', {
						type: 'geojson',
						data: mapData,
					});

					// Add labels
					map.addSource('plz-data-labels', {
						type: 'geojson',
						data: {
							type: "FeatureCollection",
							features: mapData.features.map(f => {
								return {
									type: "Feature",
									properties: {
										medianShort: formatCurrency(f.properties.median, includeCents=false, currency=null),
										medianMedium: formatCurrency(f.properties.median, includeCents=false) + '/m²',
										medianLong: f.id + '\n' + formatCurrency(f.properties.median, includeCents=true) + '/m²',
									},
									geometry: {
										type: "Point",
										coordinates: f.properties.center,
									},
								}
							})
						}
					});

					map.addLayer({
						id: 'plz-fill',
						type: 'fill',
						source: 'plz-data',
						paint: {
							'fill-color': ['get', 'color'],  // precomputed
							'fill-opacity': [
								'step',
								['zoom'],
								1,
								5, 0.8,
								11, 0.6,
								14, 0.4,
							],
						},
					}, "Grenzen_Staatsgrenze");

					map.addLayer({
						id: 'plz-outline',
						type: 'line',
						source: 'plz-data',
						paint: {
							'line-color': '#000',
							'line-width': [
								'step',
								['zoom'],
								0.5,
								11, 1,
								12, 2,
							],
							'line-opacity': 0.3
						}
					}, "Grenzen_Staatsgrenze");

					map.addLayer({
						id: 'plz-highlight',
						type: 'line',
						source: 'plz-data',
						paint: {
							'line-color': '#fff',
							'line-width': 4,
						},
						filter: ['==', ['get', 'id'], '']
					}, "Grenzen_Staatsgrenze");

					// Click to zoom
					map.on('click', 'plz-fill', (e) => {
						highlightPlz(map, e.features[0]);
					});

					map.addLayer({
						id: 'rent-labels',
						type: 'symbol',
						source: 'plz-data-labels',
						layout: {
							'text-field': [
								'step',
								['zoom'],
								['get', 'medianShort'],
								11, ['get', 'medianMedium'],
								13, ['get', 'medianLong'],
							],
							"text-size": [
								'step',
								['zoom'],
								12,
								11, 14,
								12, 18,
								14, 24,
							],
						},
						paint: {
							'text-color': '#000',
							'text-halo-color': '#fff',
							'text-halo-width': [
								'step',
								['zoom'],
								1.5,
								14, 2,
							],
						},
					});
				});

			map.on('mousemove', 'plz-fill', (e) => {
				const feature = e.features[0];
				if (feature !== hoveredFeature) {
					hoveredFeature = feature;

					// Change the cursor style as a UI indicator.
					map.getCanvas().style.cursor = 'pointer';
				}
			});

			map.on('mouseleave', 'plz-fill', () => {
				hoveredFeature = undefined;
				map.getCanvas().style.cursor = '';
			});
		});
	{% endjs %}
{% endblock %}

{% block sidebar %}
	<h2>Rent prices in <span id="location">Berlin</span></h2>
	<p id="map-description">This is the <strong>median <a id="warmmieteLink" href="/glossary/Warmmiete">warm rent</a> per m²</strong>, based on tens of thousands of apartments listed in 2025.</p>
	<p>
		<strong>
			<a href="/guides/find-a-flat-in-berlin" class="internal-link">How to find an apartment</a>
		</strong>
	</p>
	<small>Built with help from <a href="https://www.homeboy.immo/en">Homeboy</a> (2025). {{ attribution }}</small>
{% endblock %}
