{% include "_js/utils/constants.js" %}
{% include "_js/utils/germanStates.js" %}
{% include "_js/utils/tax.js" %}
{% include "_js/vue.js" %}
{% include "_js/vue/components/collapsible.js" %}
{% include "_js/vue/components/eur.js" %}
{% include "_js/vue/components/price.js" %}
{% include "_js/vue/components/glossary.js" %}
{% include "_js/vue/components/income-input.js" %}
{% include "_js/vue/mixins/userDefaultsMixin.js" %}
{% include "_js/vue/components/occupation-input.js" %}
{% include "_js/vue/components/state-input.js" %}
{% include "_js/vue/mixins/uniqueIdsMixin.js" %}
{% js %}
	document.querySelectorAll('collapsible.unemployment-insurance-calculator').forEach(
		el => new Vue({
			el: el,
			mixins: [userDefaultsMixin, uniqueIdsMixin],
			data() {
				return {
					occupation: userDefaults.occupation,
					yearlyIncome: userDefaults.yearlyIncome,
					germanState: userDefaults.germanState,
					occupations,
					taxes,
				}
			},
			computed: {
				monthlyIncome: {
					get(){
						return Math.round(this.yearlyIncome / 12);
					},
					set(newVal){
						this.yearlyIncome = newVal * 12;
					},
				},
				showStatePicker() {
					return this.yearlyIncome >= taxes.beitragsbemessungsgrenze.currentYear.east && this.occupation !== 'unemployed';
				},
				results() {
					return calculateUnemploymentInsurance(this.yearlyIncome, this.occupation, germanStates.isEastGerman(this.germanState));
				},
				monthlyBeitragsbemessungsgrenze() {
					return taxes.beitragsbemessungsgrenze.currentYear[germanStates.isEastGerman(this.germanState) ? 'east' : 'west'];
				},
			},
		})
	);
{% endjs %}

<collapsible class="unemployment-insurance-calculator" aria-label="Unemployment insurance calculator" {% if static|default %}static{% endif %}>
{% raw %}
		<template v-slot:header>Unemployment insurance calculator</template>
		<div class="form-group">
			<label :for="uid('occupation')">
				Occupation
			</label>
			<occupation-input :id="uid('occupation')" v-model="occupation"></occupation-input>
		</div>
		<div class="form-group show-errors" v-if="occupations.isEmployed(occupation)">
			<label :for="uid('income')">
				Income
			</label>
			<div class="input-group">
				<income-input :id="uid('income')" v-model="monthlyIncome"></income-input>
				€&nbsp;per&nbsp;month
			</div>
		</div>
		<div class="form-group" v-if="showStatePicker">
			<label :for="uid('germanState')">
				Where do you work?
			</label>
			<state-input east-west-berlin :id="uid('germanState')" v-model="germanState"></state-input>
			<span class="input-instructions">The maximum contribution is different in East and West Germany.</span>
		</div>
		<hr>
		<price :amount="results.unemploymentInsurance / 12" per-month class="large"></price>
		<p>
			<template v-if="results.flags.has('none')">
				<template v-if="results.flags.has('unemployed')">
					You are unemployed, so you don't pay unemployment insurance.
				</template>
				<template v-else-if="results.flags.has('minijob')">
					You earn less than <eur :amount="taxes.maxMinijobIncome"></eur> per month. When you have a <glossary>Minijob</glossary>, you don't pay unemployment insurance.
				</template>
			</template>
			<template v-else-if="results.flags.has('optional')">
				When you are self-employed, you don't have to pay unemployment insurance. It's optional.
			</template>
			<template v-else-if="results.flags.has('max-contribution')">
				You earn more than <eur :amount="monthlyBeitragsbemessungsgrenze"></eur> per month (the <em><glossary>Beitragsbemessungsgrenze</glossary></em>), so you pay the maximum amount: {{ taxes.arbeitslosenversicherungRate * 100 }}% of <eur :amount="monthlyBeitragsbemessungsgrenze"></eur>.
			</template>
			<template v-else-if="results.flags.has('azubi')">
				As an apprentice, you pay {{ taxes.arbeitslosenversicherungRate * 100 }}% of your income for unemployment insurance.
			</template>
			<template v-else>
				You pay {{ taxes.arbeitslosenversicherungRate * 100 }}% of your income for unemployment insurance.
			</template>
		</p>
{% endraw %}
</collapsible>