<div class="sidebar no-print" data-nosnippet aria-hidden="true">
	{% with entry=entry, showRelatedEntriesLink=showRelatedEntriesLink %}
		{% include "_blocks/tableOfContents.html" %}
	{% endwith %}
	{% if entry.get('call_to_action') == 'askOurInsuranceExpert' %}
		<hr>
		<h2>Need help?</h2>
		<a class="button whatsapp cta" href="/guides/german-health-insurance#need-help">
			{% include "_css/icons/whatsapp.svg" %} Ask our insurance expert
		</a>
		<small>Get free advice in English on WhatsApp</small>
	{% else %}
		{% include "_blocks/newsletterForm.html" %}
	{% endif %}
	<div id="floating-nav">
		{% if entry.get('call_to_action') == 'askOurInsuranceExpert' %}
			<a class="button cta" href="/guides/german-health-insurance#need-help">
				{% include "_css/icons/whatsapp.svg" %} Ask our expert
			</a>
		{% endif %}
		<button class="button open-close" title="Show/hide table of contents"><i class="icon table-of-contents"></i></button>
	</div>
</div>
{% include "_js/sidebar.js" %}