{% extends "tests/component/index.html.jinja" %}
{% include "_js/vue/components/collapsible.js" %}

{% js %}
	new Vue({ el: document.querySelector('main .article-body') })
{% endjs %}

{% block component %}
	<collapsible>
		<template v-slot:header>
			Closed collapsible
		</template>
		<p>This part is not visible</p>
	</collapsible>

	<collapsible static>
		<template v-slot:header>
			Static collapsible
		</template>
		<progress min="0" max="5" value="3"></progress>
		<p>This collapsible is static</p>
	</collapsible>

	<collapsible open>
		<template v-slot:header>
			<small>Collapsible test</small>
			Open collapsible
		</template>
		<progress min="0" max="5" value="3"></progress>
		<p>A collapsible that is open.</p>
		<hr>
		<div class="buttons bar">
			<button class="button primary"><i class="icon left" aria-hidden="true"></i> Primary</button>
			<button class="button">Secondary <i class="icon right" aria-hidden="true"></i></button>
			<button class="button whatsapp">{% include "_css/icons/whatsapp.svg" %} WhatsApp</button>
		</div>
	</collapsible>
{% endblock %}