{% extends "tests/component/index.html.jinja" %}
{% include "_js/vue/components/eur.js" %}
{% include "_js/vue/components/price.js" %}

{% js %}
	new Vue({ el: document.querySelector('main .article-body') })
{% endjs %}

{% block component %}
	<h2>Currency tag</h2>
	<p>
		<eur cents amount="12345.67123"></eur> (with cents)
		<br><eur amount="12345.67123"></eur> (no cents)
		<br><eur locale="de-DE" cents amount="12345.67123"></eur> (German, with cents)
		<br><eur locale="de-DE" amount="12345.67123"></eur> (German, no cents)
	</p>
	<h2>Price label</h2>
	<p>
		<price :amount="50.50"></price>
		<br><price :from="50.30"></price> (from)
		<br><price cents amount="12345.67123"></price> (with cents)
		<br><price :from="50.30" :to="100.70"></price> (range, no cents)
		<br><price :from="50.10" :to="50.20"></price> (range, same price after rounding)
		<br><price :from="50.30" :to="100.70" per-month></price> (per month)
		<br><price locale="de-DE" cents amount="12345.67123"></price> (German, with cents)
		<br><price locale="de-DE" amount="12345.67123"></price> (German, no cents)
	</p>
	<h2>Price line</h2>
	<p class="price-line">
		Single price, rounded up
		<price :amount="50.50"></price>
	</p>
	<p class="price-line">
		Price range
		<price :from="50" :to="100"></price>
	</p>
	<p class="price-line">
		Price range, same price
		<price :from="50.10" :to="50.20"></price>
	</p>
	<p class="price-line">
		Price per month
		<price :from="50" :to="100" per-month></price>
	</p>
	<p class="price-line">
		Multiple prices
		<price :amount="50"></price>
		<price :amount="60"></price>
	</p>
	<p class="price-line">
		Multiple prices, no mobile
		<price :amount="50" class="no-mobile"></price>
		<price :amount="60"></price>
	</p>
{% endblock %}