{% extends "tests/component/index.html.jinja" %}
{% include "_js/vue/components/glossary.js" %}

{% js %}
	new Vue({ el: document.querySelector('main .article-body') })
{% endjs %}

{% block component %}
	<p>
		<glossary>Anmeldung</glossary> (implied term)
		<br><glossary term="Anmeldung">Address registration</glossary> (specified term)
	</p>
{% endblock %}