{% extends "tests/component/index.html.jinja" %}
{% include "_js/vue/components/age-input.js" %}
{% include "_js/vue/components/address-input.js" %}
{% include "_js/vue/components/checkbox.js" %}
{% include "_js/vue/components/children-input.js" %}
{% include "_js/vue/components/city-input.js" %}
{% include "_js/vue/components/country-input.js" %}
{% include "_js/vue/components/date-input.js" %}
{% include "_js/vue/components/date-picker.js" %}
{% include "_js/vue/components/email-input.js" %}
{% include "_js/vue/components/first-name-input.js" %}
{% include "_js/vue/components/full-name-input.js" %}
{% include "_js/vue/components/last-name-input.js" %}
{% include "_js/vue/components/occupation-input.js" %}
{% include "_js/vue/components/postalcode-input.js" %}
{% include "_js/vue/components/radio.js" %}
{% include "_js/vue/components/state-input.js" %}

{% js %}
	new Vue({
		el: document.querySelector('main .article-body'),
		data() {
			return {
				radioValue: 'one',
				checkboxValue: false,
			}
		}
	});
	document.querySelector('.article-body').classList.add('show-errors');
{% endjs %}

{% block component %}
	<div class="form-group">
		<label>Address</label>
		<address-input></address-input>
		<address-input value="Pasewalker Str. 65"></address-input>
		<address-input required></address-input>
		<address-input disabled value="Pasewalker Str. 65"></address-input>
	</div>

	<div class="form-group">
		<label>Age</label>
		<age-input></age-input>
		<age-input value="25"></age-input>
		<age-input required></age-input>
		<age-input disabled value="0"></age-input>
	</div>

	<div class="form-group">
		<label>Children</label>
		<children-input></children-input>
		<children-input value="5"></children-input>
		<children-input required></children-input>
		<children-input disabled value="0"></children-input>
	</div>

	<div class="form-group">
		<label>City</label>
		<city-input></city-input>
		<city-input value="Montreal"></city-input>
		<city-input required></city-input>
		<city-input disabled value="Disabled"></city-input>
	</div>

	<div class="form-group" id="checkboxes">
		<label>Checkbox</label>
		<checkbox :value="true">A simple checkbox</checkbox>
		<checkbox :value="true" disabled>A disabled checkbox</checkbox>
		<checkbox v-model="checkboxValue">
			<div>A <em>richer</em> checkbox with content that might stretch multiple lines.</div>
			<span class="input-instructions">Instructions at the end of a group</span>
		</checkbox>
		<span class="input-instructions">Current value for last checkbox: {% raw %}{{ checkboxValue }}{% endraw %}</span>
	</div>
	<div class="form-group" id="checkboxes">
		<label>Radio</label>
		<radio v-model="radioValue" value="one">
			A radio button in a separate input-group
		</radio>
		<radio v-model="radioValue" value="two" disabled>
			A disabled radio button
		</radio>
		<radio v-model="radioValue" value="three">
			<div>
				A <em>richer</em> radio button with content that might stretch multiple lines.
			</div>
			<span class="input-instructions">Instructions at the end of a group</span>
		</radio>
		<span class="input-instructions">Current value: {% raw %}{{ radioValue }}{% endraw %}</span>
	</div>

	<div class="form-group">
		<label>Country</label>
		<country-input></country-input>
		<country-input value="Germany"></country-input>
		<country-input country-code value="CA"></country-input>
		<country-input required></country-input>
		<country-input disabled value="Germany"></country-input>
	</div>

	<div class="form-group">
		<label>Date input</label>
		<date-input></date-input>
		<date-input value="2025-01-02"></date-input>
		<date-input required></date-input>
		<date-input disabled value="2025-01-02"></date-input>
	</div>

	<div class="form-group">
		<label>Date picker</label>
		<date-picker></date-picker>
		<date-picker value="2025-01-02"></date-picker>
		<date-picker required></date-picker>
		<date-picker disabled value="2025-01-02"></date-picker>
	</div>

	<div class="form-group">
		<label>Email</label>
		<email-input></email-input>
		<email-input value="email@email.com"></email-input>
		<email-input required></email-input>
		<email-input disabled value="disabled@email.com"></email-input>
	</div>

	<div class="form-group">
		<label>First/last name</label>
		<div class="input-group">
			<first-name-input></first-name-input>
			<last-name-input></last-name-input>
		</div>
		<div class="input-group">
			<first-name-input value="John"></first-name-input>
			<last-name-input value="Smith"></last-name-input>
		</div>
		<div class="input-group">
			<first-name-input required></first-name-input>
			<last-name-input required></last-name-input>
		</div>
		<div class="input-group">
			<first-name-input disabled value="Disabled"></first-name-input>
			<last-name-input disabled value="Disabled"></last-name-input>
		</div>
	</div>

	<div class="form-group">
		<label>Full name</label>
		<full-name-input></full-name-input>
		<full-name-input value="John Smith"></full-name-input>
		<full-name-input required></full-name-input>
		<full-name-input disabled value="Disabled"></full-name-input>
	</div>

	<div class="form-group">
		<label>Occupation</label>
		<occupation-input></occupation-input>
		<occupation-input value="employee"></occupation-input>
		<occupation-input required></occupation-input>
		<occupation-input disabled value="employee"></occupation-input>
	</div>

	<div class="form-group">
		<label>Postal code</label>
		<postalcode-input></postalcode-input>
		<postalcode-input value="12345"></postalcode-input>
		<postalcode-input required></postalcode-input>
		<postalcode-input disabled value="00000"></postalcode-input>
	</div>

	<div class="form-group">
		<label>State</label>
		<state-input></state-input>
		<state-input value="by"></state-input>
		<state-input required></state-input>
		<state-input disabled value="by"></state-input>
	</div>

	<hr>

	<div class="form-group">
		<label>Text</label>
		<input type="text" placeholder="Placeholder text">
		<input type="text" value="Input text">
		<input type="text" required placeholder="Placeholder text">
		<input type="text" disabled placeholder="Disabled">
	</div>

	<div class="form-group">
		<label>Textarea</label>
		<textarea placeholder="Placeholder text"></textarea>
		<textarea>Input text</textarea>
		<textarea placeholder="Placeholder text" required></textarea>
		<textarea placeholder="Placeholder text" disabled></textarea>
	</div>

	<hr>

	<div class="form-group">
		<span class="label">Optional</span>
		<input type="text">
	</div>
	<div class="form-group optional">
		<span class="label">Explicitly optional</span>
		<input type="text">
	</div>
	<div class="form-group optional">
		<span class="label">Very long label name, Mietschuldenfreiheitsbescheinigung</span>
		<textarea>Input text</textarea>
	</div>

	<hr>

	<div class="form-group">
		<label>Instructions</label>
		<input type="text">
		<span class="input-instructions">A set of instructions intended to provide extra information or context about a form control.</span>
		<a class="input-instructions internal-link" href="/guides/german-health-insurance">Internal link</a>
		<input type="text">
		<a class="input-instructions external-link" href="https://google.com">External link</a>
		<input type="text">
		<details class="input-instructions">
			<summary>Collapsible instructions</summary>
			<strong>This</strong> is how you do instructions!
		</details>
	</div>
{% endblock %}