{% extends "tests/component/index.html.jinja" %}
{% include "_js/vue/components/recommended.js" %}

{% js %}
	new Vue({ el: document.querySelector('main .article-body') })
{% endjs %}

{% block component %}
	<p>Recommended option <recommended></recommended></p>
{% endblock %}