{% extends "tests/component/index.html.jinja" %}
{% include "_js/vue/components/thread.js" %}

{% js %}
	new Vue({ el: document.querySelector('main .article-body') })
{% endjs %}

{% block component %}
	<thread id="german-health-insurance"></thread>
{% endblock %}