{% include "_js/utils/letter.js" %}
{% include "_js/utils/date.js" %}
{% include "_js/vue.js" %}
{% include "_js/vue/components/address-input.js" %}
{% include "_js/vue/components/blank.js" %}
{% include "_js/vue/components/checkbox.js" %}
{% include "_js/vue/components/date-input.js" %}
{% include "_js/vue/components/full-name-input.js" %}
{% include "_js/vue/components/glossary.js" %}
{% include "_js/vue/components/letter-generator.js" %}
{% include "_js/vue/mixins/uniqueIdsMixin.js" %}
{% include "_js/vue/mixins/userDefaultsMixin.js" %}
{% js %}
	document.querySelectorAll('.bescheinigung-in-steueresachen-letter').forEach(
		el => new Vue({
			el: el,
			mixins: [userDefaultsMixin, uniqueIdsMixin],
			data() {
				return {
					fullName: userDefaults.empty,
					address: '',
					dateOfBirth: userDefaults.empty,
					taxID: '',
					finanzamt: '',
					currentDate: new Date(),
					hasPaidFee: false,
					formatSalutations,
					formatDate,
				};
			},
		})
	);
{% endjs %}

<letter-generator aria-label="Bescheinigung in Steuersachen letter generator" :printable="false" class="bescheinigung-in-steueresachen-letter" track-as="Bescheinigung in Steuersachen letter" {% if static|default %}static{% endif %}>
{% raw %}
	<template v-slot:header>Request for a Bescheinigung in Steuersachen</template>

	<template v-slot:letter-body="{ language, stage }">
		<p v-if="language === 'en'">
			<strong>Request for a Bescheinigung in Steuersachen</strong>
		</p>
		<p v-if="language === 'de'">
			<strong>Antrag auf Erteilung einer Bescheinigung in Steuersachen</strong>
		</p>

		<p v-text="formatSalutations(null, null, null, language)"></p>

		<p v-if="language === 'en'">
			I am applying for the issuance of a <em>Bescheinigung in Steursachen</em>. The application form is attached.
		</p>
		<p v-if="language === 'de'">
			hiermit beantrage ich die Erteilung einer Bescheinigung in Steursachen. Das Antragsformular ist beigefügt.
		</p>

		<p v-if="language === 'en'">
			My details are as follows:
		</p>
		<p v-if="language === 'de'">
			Meine Angaben lauten wie folgt:
		</p>

		<ul>
			<li>
				Name:
				<blank :key="uid('fullNameBlank')" placeholder="Full name">{{ fullName }}</blank>
			</li>
			<li>
				<template v-if="language === 'en'">Address:</template>
				<template v-if="language === 'de'">Anschrift:</template>
				<blank :key="uid('addressBlank')" placeholder="Address">{{ address.replaceAll('\n', ', ') }}</blank>
			</li>
			<li>
				<template v-if="language === 'en'">Date of birth:</template>
				<template v-if="language === 'de'">Geburtsdatum:</template>
				<blank :key="uid('dateOfBirthBlank' + language)" placeholder="Date of birth">{{ formatDate(dateOfBirth, language) }}</blank>
			</li>
			<li>
				<template v-if="language === 'en'">Tax ID:</template>
				<template v-if="language === 'de'">Steuer-ID:</template>
				<blank :key="uid('taxIdBlank')" placeholder="Tax ID">{{ taxID }}</blank>
			</li>
		</ul>

		<p v-if="language === 'en'">
			<template v-if="hasPaidFee">I have already paid the fee of {% endraw %}€{{ BESCHEINIGUNG_IN_STEUERSACHEN_FEE|cur }}{% raw %} on {{ currentDate.toLocaleDateString("en-US") }}. </template>
			Please issue the requested document to my home address as soon as possible.
		</p>
		<p v-if="language === 'de'">
			<template v-if="hasPaidFee">Ich habe die Gebühr von {% endraw %}€{{ BESCHEINIGUNG_IN_STEUERSACHEN_FEE|cur }}{% raw %} bereits am {{ currentDate.toLocaleDateString("de-DE") }} bezahlt. </template>
			Bitte stellen Sie die angeforderte Bescheinigung so schnell wie möglich an meine Privatadresse aus.
		</p>

		<p v-if="language === 'en'">
			Best regards,<br>
			<blank :key="uid('fullNameSignatureBlank')" placeholder="Full name">{{ fullName }}</blank>
		</p>
		<p v-if="language === 'de'">
			Mit freundlichen Grüßen,<br>
			<blank :key="uid('fullNameSignatureBlank')" placeholder="Full name">{{ fullName }}</blank>
		</p>
	</template>

	<template v-slot:form="{ language }">
		<div class="form-group">
			<label :for="uid('fullName')">Your full name</label>
			<full-name-input :id="uid('fullName')" v-model="fullName" required></full-name-input>
		</div>
		<div class="form-group">
			<label :for="uid('address')">Your address</label>
			<address-input :id="uid('address')" v-model="address" home required></address-input>
		</div>
		<div class="form-group">
			<label :for="uid('date-of-birth') + '-day'">Date of birth</label>
			<date-input
				v-model="dateOfBirth"
				:id="uid('date-of-birth')"
				autocomplete="bday" required></date-input>
		</div>
		<div class="form-group">
			<label :for="uid('taxID')">Tax ID</label>
			<input type="text" :id="uid('taxID')" v-model="taxID" placeholder="12 345 678 901" required>
			<a class="input-instructions internal-link" href="/guides/german-tax-id-steuernummer#where-to-find-your-tax-id" target="_blank">Find your tax ID</a>
		</div>
		<hr>
		<checkbox v-model="hasPaidFee">
			<div>I already transferred {% endraw %}€{{ BESCHEINIGUNG_IN_STEUERSACHEN_FEE|cur }}{% raw %} to the <em>Finanzamt</em> (optional)</div>
		</checkbox>
	</template>
{% endraw %}
</letter-generator>